@import url('reset.css');
@import url('//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
.form1 {
    width: 400px;
    margin: 100px auto;
}

.form1 .form-inner {
    border: solid 1px #dee2e6;
    padding: 30px;
}

.form1 h1 {
    font-size: 30px;
    padding: 0 0 15px 0;
    text-align: center;
}

.form1 .set {
    border: 0px;
    padding: 0 0 20px 0;
    position: relative;
}

.form1 .set label {
    display: block;
    font-size: 14px;
    padding: 0 0 6px 0;
}

.form1 .set input {
    width: 100%;
    padding: 11px 12px;
    font-size: 15px;
    box-sizing: border-box;
    background-color: #ffffff;
    /* border: solid 1px #ced4da; */
}

.form1 .set input:focus {
    border-color: #4dadf7;
    outline: 0;
    /* 접근성 관련 설명 필요 */
}

.form1 .set input::placeholder {
    color: #adb5bd;
}

/* https://css-tricks.com/almanac/selectors/p/placeholder/ */

.form1 .set .error {
    font-size: 12px;
    color: #fa5252;
    position: absolute;
    right: 0;
    bottom: 2px;
}

.form1 .submit button {
    display: block;
    width: 100%;
    background: #1b6ec2;
    border: 0;
    font-size: 18px;
    color: #fff;
    padding: 14px 0;
    text-align: center;
    cursor: pointer;
    /* 접근성 관련 설명 필요 */
}

.form1 .submit button:hover {
    background: #4dadf7;
}

.form1 .link p {
    text-align: center;
    font-size: 14px;
    color: #868e96;
}

.form1 .link p a {
    color: #1c7cd6;
    text-decoration: underline;
}

/*
*/



/*
*/

