@import url('reset.css');
@import url('//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
.list-widget {
    width: 320px;
    margin: 50px auto;
    border: solid 1px #e9ecef;
}

.list-widget ul {
    padding: 20px;
}

.list-widget ul li {
    display: block;
}

.list-widget ul li+li {
    border-top: 1px solid #d8d8d8;
}

.list-widget ul li a {
    display: block;
    font-size: 14px;
    padding: 10px 0;
    line-height: 1.2;
}

.list-widget ul li a:hover {
    color: #fa5252;
}

.list-content .content {
    padding: 30px 0;
    margin: 0 auto;
    width: 960px;
}

.list-content .content .img {
    width: 290px;
}

.list-content li+li {
    border-top: 1px solid #d8d8d8;
}

