.content
{
    width: 680px;
    overflow: hidden;

}

.content .inner-content
{
    padding: 0 14px 0 0;
}

.content .inner-content .text {
    padding: 0 14px 0 0;
}

.content img
{
    float: left;
}

.inner-content h1 
{
    font-size: 18px;

}