.container {
    width: 960px;
    margin: 0 auto;
    padding: 10px 0;
    overflow: hidden;
}

.col-1 {
    float: none;
    width: 97.91666%;
    margin: 0 1.0416%;
    height: 100px;
    background: #50e3c2;
}

.col-3 {
    float: left;
    width: 31.25%;
    margin: 0 1.0416%;
    padding: 20px 2.083%;
    box-sizing: border-box;
    background: #20c997;
    line-height: 1.5;
    color: #fff;
}

.col-2 {
    float: left;
    width: 47.916%;
    margin: 0 1.0416%;
    overflow: hidden;
}

.col-2 img {
    width: 100%;
    height: auto;
}