.container 
{
    width: 700px;
    margin: 0 auto;
    overflow: hidden;
}

.title {
    height: 27px;
    font-family: NanumGothic;
    font-size: 22px;
    text-align: left;
    color: #364fc7;
    /* color: var(--blue-with-a-hint-of-purple); */
}

.date
{
    /* width: 189px; */
    height: 17px;
    font-family: NanumGothic;
    font-size: 15px;
    color: #adb5bd;
}